[Unit]
Description=xltp daemon program
After=network.target

[Service]
ExecStart=/root/Kangzixin/build/xltpd
WorkingDirectory=/root/Kangzixin/build
Restart=on-failure

[Install]
WantedBy=multi-user.target
